@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 4.5rem;
  background-color: black;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
}

nav .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-items a {
  margin: 0 1rem;
  color: #b2b2b2;
  font-size: large;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  font-weight: bolder;
}

datalist {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

#saveinfo {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 16px;
  outline: none;
  width: 180px;
  height: 40px;
  box-shadow: 4px 4px darkgray;
}

.profile-container {
  box-sizing: border-box;
  padding: 60px;
  margin-left: 10rem;
}

.profile-container input{
  margin-bottom: 5px;
}

.Editpassword-container {
  box-sizing: border-box;
  padding: 50px;
  margin-left: 10rem;
}

.Editpassword-container input{
  margin-bottom: 5px;
}

input {
  width: 80%;
  font-family: 'Inter', sans-serif;
  height: 45px;
  padding: 10px;
  color: black;
  border-color: aliceblue;
  background-color: #F0F0F0;
  box-shadow: 4px 4px darkgray;
}

#chnagePass {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 16px;
  outline: none;
  width: 180px;
  height: 40px;
  box-shadow: 4px 4px darkgray;
}

#logout {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 16px;
  outline: none;
  width: 180px;
  height: 40px;
  box-shadow: 4px 4px darkgray;
}

#saveinfo:hover, #logout:hover, #chnagePass:hover{
  background-color:dimgray;
  cursor: pointer;
}